@font-face{
	font-family: "GothaProBol";
	src:url("fonts/GothaProBol.otf") format("opentype");
}
body{
	margin: 0;
	font-family: "GothaProBol";
}
.logo_fig{
	position: absolute;
	left:20px;
	top: 20px;
}
.company_contact{
	right: 5%;
	position: absolute;
	display: block;
	top: 20px;
}
.work{
	color: #FF1493;
}
.number{
	color: white;
}
.header_back{
/*margin-left: -10px;
margin-right: -20px;
	margin-top: -10px;*/
	margin-bottom: -10px;
	width: 100%;
}
.header_banner{
	width: 100%;
}
.text{
	
}
.footer_back{
	width: 100%;
}
.container{
	
}
.sidebar{
float: left;
height: 10%;
width: 25%;
left: 20px;
top:55px;
}
.product{
	float: left;
	    width: 75%;

}
.inf{
	display: inline-block;
	text-align: center;
	float: left;
	padding: 10px;
	width: 200px;
}
.pic1{
	/*position: relative;
	    top: 30px;*/
padding: 30px;
	/*left:50px;
	top:-15px;*/
}
.pic2{
/*position: relative;
    top: 30px;*/
padding: 30px;
	/*left:53px;
	top:-17px;*/
}
.pic3{
	padding: 30px;

}
.pict{
	
}
.h5{

}
.pic_back{
	
}
.circle{
	
	width: 90px;
	height: 90px;
	background: #27273e;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	    margin: 0 auto;
}
.coments{
float: left;
    display: inline-block;
    /*padding-left: 200px;*/
    float: left;
    padding-left: 25%;
    width: 75%;
}

.prod{
width: 100%;}
.coments_first{
	float: left;
	padding-bottom: 60px;
}
.avatar{
	padding-right: 15px;
	float: left;
}
.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
.footer{
	background-image: url(../img/footer.png);
	height: 100px;
}
.info{
	float: left;
color: white;
	position: absolute;
    left: 10px;
	text-align: left;
}

.contact_link{
	display: inline;
    text-align: right;
	
}
.footer_logo{
	text-align: center;
	position: relative;
	top:18px;
	left: 40%;
}
ul.links li{
	display: inline-block;

    list-style-type: none; /* Убираем маркеры */
}
.circle_link{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	    

}
.links_item{
	padding: 15px;
	padding-right: 20px;
}
.text_footer{
	
}
.link_logo{
	padding: 10px;
	display: inline-block;

}
.pagination_pages_item_link{
	color: black;
}
.pagination_pages_item{

}
.links{
	float: right;
	color: white;
	position: relative;
    right: 10px;
	text-align: right;
}
.log_link{
		padding: 4px;
}
.links_logs{
	float: right;
	color: white;
	position: relative;
    right: 50px;
	text-align: right;
	margin: 0;
}
.pagination_pages_item{
	display: inline-block;
	padding: 3px;
}
.pagination_prev{
	display: inline-block;
}
.pagination_next{
	display: inline-block;
}
.
.pagination_display{
display: inline-block;
}
.pagination{
	padding-left: 40%;
}
.pagination_control{
	display: inline-block;
}
.pagination_display{
	display: inline-block;
}
a{
	text-decoration: none;
}
.date{

	color: #4444;
}
.pagin_text{
	color: #444;
}
.sidebar_menu{
	color: #ed3385;
}
ul.sidebar_menu{
	list-style-type: none;
}
li.sidebar_icon1{
	list-style-type: none;
	list-style-image: url(../img/main_icon.png);
	color: black;
	padding: 10px;
}
li.sidebar_icon2{
	list-style-type: none;
	list-style-image: url(../img/feed_icon.png);
	padding: 10px;
}
li.sidebar_icon3{
	list-style-type: none;
	list-style-image: url(../img/wallet_icon.png);
	padding: 10px;

}
li.sidebar_icon2:hover{
	color: black;
}
a.side_menu:hover{
	color: black;
}
ul{
	
}
li:before{
	color: #ed3385;

}
.sidebar_menu a:hover +div{
	color: black;
}
a.work:hover+div  {
        display: block;
    }
    
   
    .hide{
    	background-color: white;
    	display: none;
    	width: 120px;
    	height: 60px;
    }