#header{
	text-align: center;
	margin-bottom: 32px;
}
#footer{
	text-align: center;
	margin-top: 64px;
}
h3{
	font-size: 20px;
}
h2{
	font-size: 32px;
	margin-bottom: 8px;
	border-bottom: 1px grey;
}
h1{
	font-size: 36px;
}
h1,h2,h3{
	font-weight: 400px;
	margin-bottom: 0px;
}
p{
	margin-bottom: 12px;
}
